.upimg{
    background: url('https://cdn.britannica.com/30/128430-050-D6578398/Boston-Public-Garden.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}