.upimg{
    background: url('https://cdn.britannica.com/30/128430-050-D6578398/Boston-Public-Garden.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.upimg1{
    background: url('https://images.ctfassets.net/hrltx12pl8hq/28ECAQiPJZ78hxatLTa7Ts/2f695d869736ae3b0de3e56ceaca3958/free-nature-images.jpg?fit=fill&w=1200&h=630');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}